.containerHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(37, 28, 28);

    padding-top: 5.5rem;
    max-width: 1124px;
    width: 95%;
    margin:  0 auto;

    height: 100%;
}

.containerHome > div {
    background-color: white;
    padding: 0 1rem;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0 , 0, 0.5);
}

.containerHome div:first-child {
    width: 69%;
}

.containerHome div:last-child {
    width: 29%;
}

.containerHome__patient > div {
    width: 100%!important;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;
}

.containerHome__patient h4 {
font-size: 1.1rem;
}

.containerHome__patient input[type=text] {
    height: 2rem;
    width: 20rem;
    padding: 0 1rem;
}

.containerHome__patient input[type=submit] {
    width: 7rem;
    background: #3f51b5;
    color: black;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 0px 3px 3px 0px;
    height: 2rem;
}

.containerHome__patient input[type=submit]:hover {
    opacity: 0.9;
}

.containerHome__patient ul {
    list-style: none;
    margin-top: 1.5rem;

    max-height: 400px;
    overflow-y: auto ;
    
}

.containerHome__patient li {
    border-bottom: 1px solid;
    padding-right: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.containerHome__patient li > a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.containerHome__patient li:hover {
    background-color: rgb(235, 235, 235);
}

.containerHome__patientButtons {
    width: 11.5rem!important;

    display: flex;
    justify-content: space-between;
}

.containerHome__patientButtons button,
.containerHome__patientButtons a {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border: none;
    align-items: center;
    height: 1.7rem;
    font-size: 1rem;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}

.containerHome__patientButtons a:hover {
    opacity: 0.9;
}

.containerHome__patientButtons a{
    background: #333;
}

.containerHome__patientButtons a:nth-child(2) {
    background-color: #3f51b5;
}

.containerHome__patientButtons > button {
    cursor: pointer;
    background: rgb(233, 81, 54)
}

.containerHome__tasks {
    padding: 1rem;
}

.containerHome__tasks h4 {
    margin: 1rem 0;
    color: black;
}

.containerHome__tasks ol {
    list-style: none;

    max-height: 400px;
    overflow-y: auto
}

.containerHome__tasks > span {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;

    padding-right: 1.1rem;
}

.containerHome__tasks ol li {
    border-bottom: 1px solid;
    padding-right: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
}

.containerHome__tasks ol li:hover{
    background-color: lightgray;
}

@media screen and (max-width: 950px) {
    .containerHome {
        flex-direction: column;
    }

    .containerHome div:first-child {
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .containerHome div:last-child {
        width: 100%;
    }
    .containerHome__patient ul {
        padding-bottom: 0;
    }
    .containerHome__patient li {
        padding-bottom: 0;
    }
}